<div style="margin-left: 5px; overflow-y:hidden; width: 65vw">
    <nz-table
    #basicTable
    [nzData]="todoArray"
    [nzTotal]="todoArray.length"
    [nzSize]="'small'"
    nzFrontPagination="true"
    nzShowPagination="true"
    [nzPageSize]="10"
    >
        <thead>
          <tr>
            <th nzWidth="5%">Status</th>
            <th nzWidth="40%" style="text-align:left">Todo</th>
            <th nzWidth="25%">Scheduling</th>
            <th nzWidth="15%" style="text-align: left">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (todo of basicTable.data; track todo.id) {
            <tr>
              <td nzAlign="center">
                <label nz-checkbox nzDisabled="false" [nzChecked]="todo.completed"></label>
              </td>
              <td>{{ todo.title }}</td>
              <td></td>
              <td>
                <a>Action</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
          }
        </tbody>
    </nz-table>
</div>
