<div style="height: 85vw; width: 84vw; margin: 20px">
    <nz-table #basicTable [nzData]="todoArray" [nzSize]="'middle'"
    >
        <thead>
          <tr>
            <th nzWidth="5%">ID</th>
            <th nzWidth="40%" style="text-align:left">Title</th>
            <th nzWidth="5%">Status</th>
            <th nzWidth="20%">Scheduling</th>
            <th nzWidth="30%">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (todo of todoArray; track todo.id) {
            <tr>
              <td>{{ todo.userId }}</td>
              <td>{{ todo.title }}</td>
              <td style="display: flex; justify-content: center;">
                <label nz-checkbox nzDisabled="false" [nzChecked]="todo.completed"></label>
              </td>
              <td></td>
              <td>
                <a>Action</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
          }
        </tbody>
    </nz-table>
</div>
