@if (showModal) {
  <app-modal [message]="modalMessage" (response)="handleModalResponse($event) "></app-modal>
}

<div style="display: flex; flex-direction: column; flex: 1 1 0; min-height: 0; height: 100%; padding-left: 5px">
  <nz-splitter style="flex: 1 1 0; min-height: 0; border: none; outline: none">
    <nz-splitter-panel style="border: none; outline: none" nzDefaultSize="75%" nzMin="50%">
      <app-todo-table></app-todo-table>
    </nz-splitter-panel>
    <nz-splitter-panel style="border: none; outline:none; padding-left: 10px;" nzDefaultSize="25%" nzMax="50%" nzMin="15%">
      <app-todo-sidebar></app-todo-sidebar>
    </nz-splitter-panel>
  </nz-splitter>
</div>