ul[nz-menu] li[nz-menu-item].ant-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 0;
    transition: background-color 0.2s;
}

ul[nz-menu] li[nz-menu-item].ant-menu-item:hover {
    background-color: black;
    color: white;
    transition: background-color 0.2s;
}

ul[nz-menu] li[nz-menu-item].ant-menu-item-selected {
    background-color: black;
    color: white;
}

ul[nz-menu] li[nz-menu-item].ant-menu-item nz-icon {
    transition: none !important;
}

ul[nz-menu] li[nz-menu-item].ant-menu-item nz-icon:hover {
    transition: none !important;
}