header {
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navButtonContainer {
    display: flex; 
    flex-direction: row;
    justify-content: end;
    width: 50%;
}

.navLogo {
    font-size: 25px;
}

#signIn {
    background-color: black;
    transition: 300ms;
    border-color: white;
}

#signIn:hover {
    background-color: white;
    color:black;
    transition: 250ms;
}

.navButton {
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}