.hcwh {
    background-color: #dadbf1;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sectionHeader {
    font-size: 50px; 
    font-weight: 500;
    background-color: white;
    color: black;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    transition: 300ms;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.oneSide {
    width: 49%;
    border: 2px solid black;
}

.oneSide:hover .sectionHeader {
    background-color: black;
    color: white;
    transition: 300ms;
}