<div class="hcwh">
    <h1 style="font-size: 40px; font-weight: 700;"><b>2DO, reminding you to do your todos like your mom does!</b></h1>
    <h2 style="font-size: 35px; font-weight: 700;">Be reminded via scheduled emails about your tasks <b>for basically free.</b></h2>
</div>
<div class="sideBySide">
    <div class="oneSide">
        <a href="/todos" style="text-decoration: none;">
            <div class="sectionHeader" style="font-size: 25px; font-weight: 700">
                Add a quick Todo:
            </div>
        </a>
        <div>

        </div>
    </div>
    <div class="oneSide">
        <a href="/todos" style="text-decoration: none;">
            <div class="sectionHeader" style="font-size: 25px; font-weight: 700">
                Add a quick Note and Title:
            </div>
        </a>
        <div>

        </div>
    </div>
</div>