@if(targetDocument == null) {
    <div class="center">
        <p style="font-size: large; font-weight: 500;">Pick a note to start editing!</p>
    </div>
}
@else {
    @if(isLoading) {
        <div class="center">
            <nz-icon nzType="loading" nzTheme="outline" nzRotate="true" style="transform: scale(2); margin-bottom: 10px;"/>
            <p style="font-size: 15px;">Loading</p>
        </div>
    }
    @else {
        @if(targetDocument.type == 'note') {
            <div class="editorContainer" style="height: 100%; margin-left: 5px">
                <quill-editor [(ngModel)]="targetDocument.content" format="json" [styles]="{height: '78vh', width: '75vw'}" [modules]="quillModules"></quill-editor>
            </div>
        }
    }    
}

